.venv/
.DS_Store
**/__pycache__/
*.pyc
.pytest_cache/
.keys/
**.log
.env
**/Pearl/
train/outputs/
models/
qrels/
**/wandb/
**/results_**/
evaluation/data/*.xlsx
evaluation/generated/
evaluation/visual_portions/
train/data/train_dataset_*.xlsx
train/data/val_dataset_*.xlsx
train/data/test_dataset_*.xlsx
paper.pdf